#root{
    height: 100vh;
    #App{
        
        #NavBar{
            justify-content: space-between;
        }

        #DataSection{
           padding-top: 10vh;

           #DataHeader{
               text-align: center;
           }

           #DataCards{
               display: flex;
                flex-wrap: wrap;
               .DataCard{
                   margin-top: 10px;
                   margin-left: 5px;
                   width: 16rem;
               }
           }
        }
    }
   
}