.App{
    width: 100%;
    padding:0px;

   #sideNav{
       background: #7386D5;
       color: #fff;
       transition: all 0.3s;
        margin:0px;
       button{
           color: black;
       }
   }
   
   .DataSection{
       padding-right:250px;
   }
}